In [1]:
import pandas as pd
import pandas_ta as ta

In [5]:
df = pd.read_csv('historical_data.csv', parse_dates=['timestamp'])

In [6]:
df.columns = df.columns.str.lower()

In [7]:
df['ema_fast'] = ta.ema(df['close'], length=9)     # Short term
df['ema_med'] = ta.ema(df['close'], length=21)     # Medium term
df['ema_long'] = ta.ema(df['close'], length=50)    # Long term
df['ema_macro'] = ta.ema(df['close'], length=200)  # Macro trend

In [10]:
# --- RSI ---
df['rsi'] = ta.rsi(df['close'], length=14)

# --- ATR ---
df['atr'] = ta.atr(high=df['high'], low=df['low'], close=df['close'], length=14)

In [11]:
# --- Manual Swing High/Low (3-bar lookback & lookahead) ---
df['swing_high'] = df['high'][(df['high'].shift(3) < df['high']) &
                              (df['high'].shift(2) < df['high']) &
                              (df['high'].shift(1) < df['high']) &
                              (df['high'].shift(-1) < df['high']) &
                              (df['high'].shift(-2) < df['high']) &
                              (df['high'].shift(-3) < df['high'])]

In [12]:
df['swing_low'] = df['low'][(df['low'].shift(3) > df['low']) &
                            (df['low'].shift(2) > df['low']) &
                            (df['low'].shift(1) > df['low']) &
                            (df['low'].shift(-1) > df['low']) &
                            (df['low'].shift(-2) > df['low']) &
                            (df['low'].shift(-3) > df['low'])]

In [13]:
df

,timestamp,open,high,low,close,volume,ema_fast,ema_med,ema_long,ema_macro,rsi,atr,swing_high,swing_low
0,2025-05-22 09:15:00+05:30,788.00,788.20,784.50,786.00,299608,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
1,2025-05-22 09:20:00+05:30,785.95,787.00,785.05,785.80,162403,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
2,2025-05-22 09:25:00+05:30,785.80,787.00,785.00,785.55,166757,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
3,2025-05-22 09:30:00+05:30,785.65,785.90,784.40,784.50,145435,NaN,NaN,NaN,None,NaN,NaN,NaN,784.4
4,2025-05-22 09:35:00+05:30,784.45,786.80,784.45,785.10,115215,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2025-05-22 15:05:00+05:30,785.20,785.85,784.50,785.80,198231,784.023784,783.513576,783.962209,None,64.061840,1.315551,NaN,NaN
71,2025-05-22 15:10:00+05:30,785.80,785.85,785.10,785.10,137403,784.239028,783.657796,784.006828,None,58.920050,1.274944,NaN,NaN
72,2025-05-22 15:15:00+05:30,785.25,785.55,784.30,785.45,301680,784.481222,783.820724,784.063423,None,60.621912,1.273154,NaN,NaN
73,2025-05-22 15:20:00+05:30,785.50,785.50,784.70,785.50,185913,784.684978,783.973385,784.119760,None,60.871300,1.239205,NaN,NaN
74,2025-05-22 15:25:00+05:30,785.45,785.95,785.30,785.80,119082,784.907982,784.139441,784.185651,None,62.409578,1.196944,NaN,NaN

In [14]:
df.to_csv("output_with_indicators.csv", index=False)