In [29]:
import collections
import json
from services import get_auth,get_historical_data

In [30]:
def load_credentials():
    # Load credentials from a JSON file
    with open('creds.json', 'r') as file:
        creds = json.load(file)
    return creds

user_creds=load_credentials()

In [31]:
class SmartAPIUserCredentials:
    def __init__(self, user_dict):
        self.api_key = user_dict["creds"]["api_key"]
        self.username = user_dict["creds"]["username"]
        self.pwd = user_dict["creds"]["pwd"]
        self.token = user_dict["creds"]["token"]
        self.email = user_dict["creds"]["email"]
        self.name = user_dict["creds"]["name"]
        self.smart_api_obj = get_auth(self.api_key, self.username, self.pwd, self.token)
        self.historical_dict = collections.defaultdict(dict)

    def get_historical_data(self,symboltoken="",exchange="",from_date="2025-05-01 08:11", to_date="2025-05-15 08:11", interval="day"):
        
        df=get_historical_data(
            smart_api_obj=self.smart_api_obj,
                exchange=exchange,
                symboltoken=symboltoken,
                interval="FIVE_MINUTE",
                # fromdate='2025-05-15 08:11',
                fromdate=from_date,
                # todate='2025-05-26 08:11'
                todate=to_date
        )
        self.historical_dict[symboltoken] = df
        # print(f"Historical data for {symboltoken} from {from_date} to {to_date} fetched successfully.")


    def __str__(self):
        return f"UserCredentials(api_key={self.api_key}, username={self.username}, pwd={self.pwd}, token={self.token},"

In [32]:
raja_=SmartAPIUserCredentials(user_creds["2"])

[I 250614 15:16:12 smartConnect:124] in pool

In [33]:
raja_.smart_api_obj

In [34]:
from datetime import datetime, timedelta

today = datetime.now()
fromdate = (today - timedelta(days=10)).strftime("%Y-%m-%d %H:%M")
todate = today.strftime("%Y-%m-%d %H:%M")

In [35]:
raja_.get_historical_data(
    exchange="NSE",
    symboltoken="3045",
    interval="FIVE_MINUTE",
    from_date=fromdate,
    to_date=todate  
)

Historical data saved to 3045.csv

In [36]:
raja_.historical_dict['3045'].head()

                  timestamp   open    high     low  close  volume
0 2025-06-04 15:20:00+05:30  806.0  806.10  805.65  806.1  398646
1 2025-06-04 15:25:00+05:30  806.1  806.35  805.25  805.5  372126
2 2025-06-05 09:15:00+05:30  808.5  808.70  805.85  806.0  274510
3 2025-06-05 09:20:00+05:30  806.0  807.00  805.10  807.0  145190
4 2025-06-05 09:25:00+05:30  807.0  808.00  806.55  807.3  117799

In [37]:
token_list = [
    '3045', '15058', '5204', '2792', '10', '10738', '25578', '24814', '1726',
    '5097', '1196', '14299', '341', '17869', '14947', '20293', '4204', '20302',
    '2664', '2049', '18652', '1041', '17927', '10999', '99926000', '2783',
    '99926009', '99926037', '3045', '676', '5751', '2303', '13491', '916',
    '21770', '14450', '438', '526', '19234', '2029', '20825', '14788',
    '13260', '2854', '21808', '5911', '342', '8075','15174',
    '13786'
]

len(token_list)

50

In [38]:
temp=[]
for i in token_list:
    if i in temp:
        print(f"Duplicate token found: {i}")
    temp.append(i)

Duplicate token found: 3045

In [41]:
import time

print(datetime.now())
for i in token_list:
    time.sleep(1.5)
    raja_.get_historical_data(
        exchange="NSE",
        symboltoken=i,
        interval="FIVE_MINUTE",
        from_date=fromdate,
        to_date=todate  
    )
print(datetime.now())

2025-06-14 15:20:35.345440
Historical data saved to 3045.csv
Historical data saved to 15058.csv
Historical data saved to 5204.csv
Historical data saved to 2792.csv
Historical data saved to 10.csv
Historical data saved to 10738.csv
Historical data saved to 25578.csv
Historical data saved to 24814.csv
Historical data saved to 1726.csv
Historical data saved to 5097.csv
Historical data saved to 1196.csv
Historical data saved to 14299.csv
Historical data saved to 341.csv
Historical data saved to 17869.csv
Historical data saved to 14947.csv
Historical data saved to 20293.csv
Historical data saved to 4204.csv
Historical data saved to 20302.csv
Historical data saved to 2664.csv
Historical data saved to 2049.csv
Historical data saved to 18652.csv
Historical data saved to 1041.csv
Historical data saved to 17927.csv
Historical data saved to 10999.csv
Historical data saved to 99926000.csv
Historical data saved to 2783.csv
Historical data saved to 99926009.csv
Historical data saved to 99926037.csv
Historical data saved to 3045.csv
Historical data saved to 676.csv
Historical data saved to 5751.csv
Historical data saved to 2303.csv
Historical data saved to 13491.csv
Historical data saved to 916.csv
Historical data saved to 21770.csv
Historical data saved to 14450.csv
Historical data saved to 438.csv
Historical data saved to 526.csv
Historical data saved to 19234.csv
Historical data saved to 2029.csv
Historical data saved to 20825.csv
Historical data saved to 14788.csv
Historical data saved to 13260.csv
Historical data saved to 2854.csv
Historical data saved to 21808.csv
Historical data saved to 5911.csv
Historical data saved to 342.csv
Historical data saved to 8075.csv
Historical data saved to 15174.csv
Historical data saved to 13786.csv
2025-06-14 15:21:57.221025

In [ ]:
raja_.historical_dict

In [ ]:
for i in list(raja_.historical_dict.keys()):
    if raja_.historical_dict[i] is not None:
        print(f"❌ No data for token {i}")
        continue
    raja_.historical_dict[i].to_csv(f"data_{i}.csv", index=False)